body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #f0f0f0;
}

.container {
	display: flex;
	justify-content: space-around;
	padding: 20px;
}

.column-container {
	display: flex;
}

.column {
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 5px;
	padding: 15px;
	margin: 0 10px;
	min-width: 200px;
}

.column-title {
	text-align: center;
	margin-top: 7px;
}

.add-item-btn {
	display: block;
	margin: 10px auto;
	padding: 8px 16px;
	background-color: #4caf50;
	color: #fff;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.add-item-btn:hover {
	background-color: #45a049;
}

.item {
	background-color: #eee;
	margin: 5px 0;
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 5px;
	cursor: pointer;
}

.item.dragging {
	opacity: 0.5;
}
.cursor {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 2px solid #ff0020;
	box-shadow: -1px 10px 150px 20px red;
	position: absolute;
	z-index: 9999;
	pointer-events: none;
	transition: all 0.2s ease-out;
}
